<footer style="background-color: var(--pico-primary-background); padding: 2rem 0; color: var(--pico-primary-inverse); margin-top: 4rem;">
  <div class="container">
    <nav style="display: flex; justify-content: center; margin-bottom: 0.5rem;">
      <ul>
        <li><a href="https://heikari.no/blogg/" style="color: var(--pico-primary-inverse);">Blogg</a></li>
        <li><a href="https://heikari.no/yrker" style="color: var(--pico-primary-inverse);">Yrker</a></li>
        <li><a href="https://heikari.no/priser" style="color: var(--pico-primary-inverse);">Priser</a></li>
        <li><a href="https://heikari.no/registrere/bedrift" style="color: var(--pico-primary-inverse);">Kom i gang</a></li>
        <li><a href="https://heikari.no/auth/signin" style="color: var(--pico-primary-inverse);">Logg inn</a></li>
      </ul>
    </nav>
    <nav style="display: flex; justify-content: center; margin-bottom: 0.5rem;">
      <ul>
        <li><a href="https://heikari.no/personvern" style="color: var(--pico-primary-inverse);">Personvern</a></li>
        <li><a href="https://heikari.no/vilkar" style="color: var(--pico-primary-inverse);">Vilkår</a></li>
      </ul>
    </nav>
    <div style="text-align: center;">
      <p style="color: var(--pico-primary-inverse);"><small>© 2025 Flakstad Software AS</small></p>
      <p style="color: var(--pico-primary-inverse);"><small>Org.nr. 935 382 017</small></p>
    </div>
  </div>
</footer>
